[Desktop Entry]
Categories=PackageManager;System;Settings;
Comment=Discover and install apps for GalliumOS
Exec=/usr/share/appgrid/appgrid.py %u
Icon=appgrid
Keywords=App;AppGrid;Apps;AppStore;Buy;Browse;Center;Install;Installer;Purchase;Software;Store;Remove;Uninstall;
MimeType=x-scheme-handler/apt;application/x-deb;application/x-debian-package;
Name=App Grid Software Center
StartupNotify=true
Terminal=false
Type=Application
